
   .ButtonContainer {
   
    align-items: center;
    justify-content: center;
    display: flex;
  margin-left: 10px;
  height: 80%;
  aspect-ratio: 1;
  border-color: black;
  border:none
  
  
  
  
 

}   
